.table-row-header .MuiTableCell-root {
  font-weight: bold;
}

.home-background {
    background-size: 'cover';
    background-position: 'center';
    height: '100vh';
}
.home-page-top {
    margin-left: 1.5rem;
}


